
<link href="~/lib/layui/dist/css/layui.css" rel="stylesheet" />
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/layui/dist/layui.js"></script>
<style>
    input {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        border: 1px solid red;
        background-color: transparent;
    }

    .container {
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: border-box;
        /*height:150px;*/
    }

    #list li {
    }
</style>



<script>

    
  

    $(function () {
        var fa = document.getElementById('f_main_audio');
        var sa = document.getElementById('s_main_audio');
       

        if (!(fa.play instanceof Function)) {
            fa = document.getElementById('f_main_audio_ie8');
        }


        if (!(sa.play instanceof Function)) {
            sa = document.getElementById('s_main_audio_ie8');
        }


        var success = 0;
        var error = 0;
        $("#tcNum")[0].focus();

        $('#tcNum').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#tcNum')[0].blur();
                var reg = /^\d+$/;
                if (!reg.test($('#tcNum').val())) {
                    layui.use(['layer'], function () {
                        layer = layui.layer
                        layer.msg('运单号格式错误', {
                            icon: 5,
                            time: 1000,
                            shade: 0.01
                        }, function () {
                            $('#tcNum')[0].focus();
                            $('#tcNum').val('');
                            $('#snNum').val('');
                        });
                    });
                } else {
                    $('#snNum')[0].focus();
                    $('#snNum').val('');
                }
                //alert('你输入的内容为：' + $('#dataInput').val());
            }
        });
        $('#snNum').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#snNum')[0].blur();
                var trackingNumber = $('#tcNum').val();
                var serialNumber = $('#snNum').val()

                submit(trackingNumber, serialNumber);
            }
        });

        function submit(trackingNumber, serialNumber) {
            $('#tcNum')[0].blur();
            $('#snNum')[0].blur();
            if (trackingNumber.length == 0 || serialNumber.length == 0) {
                layui.use(['layer'], function () {
                    layer = layui.layer
                    layer.msg('数据不能为空', {
                        icon: 5,
                        time: 1000,
                        shade: 0.01
                    }, function () {
                        $('#tcNum')[0].focus();
                        $('#tcNum').val('');
                        $('#snNum').val('');
                    });
                });
                return;
            }

            var reg = /^\d+$/;
            if (!reg.test($('#tcNum').val())) {
                layui.use(['layer'], function () {
                    layer = layui.layer
                    layer.msg('运单号格式错误', {
                        icon: 5,
                        time: 1000,
                        shade: 0.01
                    }, function () {
                        $('#tcNum')[0].focus();
                        $('#tcNum').val('');
                        $('#snNum').val('');
                    });
                });
                return;
            }

            $.ajax({
                url: "/OrderPartInfo/AddInfo",
                async: true,
                //contentType: 'application/json',
                dataType: 'JSON',
                type: 'POST',
                data: {
                    'trackingNumber': trackingNumber,
                    'serialNumber': serialNumber
                },
                success: function (result) {
                    if (result.status == 1) {
                        sa.play();
                        layui.use(['layer'], function () {
                            layer = layui.layer
                            layer.msg(result.msg, {
                                icon: 6,
                                time: 1000,
                                shade: 0.01
                            }, function () {
                                $('#tcNum')[0].focus();
                                $('#snNum').val('');
                                $('#tcNum').val('');
                                success = success + 1;
                                $('#msg').html('<div style="text-algin:center"><span style="color:green;">成功：' + success + '条</span>' + ',<span style="color:red">失败:' + error + '条</span></div>');
                                $('#list').prepend('<nobr><li style="color:green;font-size:9px">' + result.data + result.msg + '</li></nobr>');
                            });
                        });
                    } else {
                        fa.play();
                        layui.use(['layer'], function () {
                            layer = layui.layer
                            layer.msg(result.msg, {
                                icon: 5,
                                time: 1000,
                                shade: 0.01
                            }, function () {
                                $('#tcNum')[0].focus();
                                $('#snNum').val('');
                                $('#tcNum').val('');
                                error = error + 1;
                                $('#msg').html('<div style="text-align:center"><span style="color:green">成功：' + success + '条</span>' + ',<span style="color:red">失败:' + error + '条</span></div>');
                                $('#list').prepend('<nobr><li style="color:red;font-size:9px">' + result.data + result.msg + '</li></nobr>');
                            });
                        });
                    }
                },
                error: function () {
                    fa.play();
                    layui.use(['layer'], function () {
                        layer = layui.layer
                        layer.msg('错误请重试', {
                            icon: 5,
                            time: 1000,
                            shade: 0.01
                        }, function () {
                            $('#tcNum')[0].focus();
                            $('#snNum').val('');
                            $('#tcNum').val('');
                            error = error + 1;
                            $('#msg').html('<div style="text-align:center"><span style="color:green">成功：' + success + '条</span>' + ',<span style="color:red">失败:' + error + '条</span></div>');
                            $('#list').prepend('<nobr><li style="color:red;font-size:9px">' + trackingNumber + ':' + serialNumber + ':错误' + '</li></nobr>');
                        });
                    });
                },
                complete: function (xhr, status) {
                }
            });
        }

        $('#btnSubmit').click(function () {
            var trackingNumber = $('#tcNum').val();
            var serialNumber = $('#snNum').val()
            submit(trackingNumber, serialNumber);
        });
    })

</script>


<div class="container">
    <label>运单号:</label>
    <input type="text" id="tcNum" placeholder="运单号" class="layui-input" style="border:1px solid #2e6da4;background-color: transparent;">
    <label>SN码:</label>
    <input type="text" id="snNum" placeholder="SN码" class="layui-input" style="border:1px solid #2e6da4;background-color: transparent;">
    <span id="msg"></span>
    <input id="btnSubmit" class="layui-btn" type="button" value="手动提交" />
</div>
<div style="margin-left:10px">
    <ul id="list"></ul>
</div>
@*<embed src="./audio/success.wav" id="audioSuccess" autostart=false play=false  hidden=true loop="false" />
<embed src="./audio/failure.wav" id="audioFailure" autostart=false play=false  hidden="true" loop="false" />*@

<audio id="s_main_audio">
    <source src="./audio/success.wav" type="audio/mpeg" />
    <embed id="s_main_audio_ie8" hidden="true" autostart="false" loop="false" src="./audio/success.wav" />
</audio>

<audio id="f_main_audio">
    <source src="./audio/failure.wav" type="audio/mpeg" />
    <embed id="f_main_audio_ie8" hidden="true" autostart="false" loop="false" src="./audio/failure.wav" />
</audio>

<script>
    

    //$('#playpause').on('click', function () {
    //    if (isPlaying(a)) {
    //        a.pause();
    //    } else {
    //        a.play();
    //    }
    //});
</script>



